<site-layout>
    <@title>Paysack-Website</@title>
    <@content>
    <site-nav></site-nav>
    	<!-- Banner -->
		<banner-data></banner-data>

		<!-- Features Grid -->
		<feature-grid></feature-grid>
		
		<wrapper-data></wrapper-data>
	<!-- Four -->
		<paysack-benifit></paysack-benifit>

		<!-- CTA -->
		<cta-data></cta-data>
	
			
    </@content>
</site-layout>