<header id="header" class="${input.class}" >
    <a class="logo" href="index.html">Visualize <span>by Pixelarity</span></a>
    <nav>
        <a href="#menu"><span class="label">Menu</span></a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a rel href="/">Home</a></li>
        <li><a rel href="/hr">Hr</a></li>
        <li><a rel href="elements.html">Elements</a></li>
    </ul>
</nav>