<div class="spotlight">
    <div class="image fit alt">
        <img src="./hr2.png" alt="" />
    </div>
    <div class="content">
        <p>Business Intelligence Reports</p>
        <h3>Harness your HR data to drive smarter decision-making. </h3>
        <p></p>
        <ul class="actions">
            <li><a href="#" class="button">Learn more</a></li>
        </ul>
    </div>
</div>
<hr>