<div id="banner">
            <div class="wrapper style1">
                <div class="inner">
                    <p>HR for the new
                            world of work.</p>
                    <h1>Powering people to make work move and business thrive.</h1>
                    <ul class="actions special">
                        <li><a href="#one" class="button large primary scrolly">Get Started</a></li>
                    </ul>
                </div>
            </div>
        </div>